*, html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  display: flex;
  flex-direction: column;
}

.fcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcdcdc;
  width: 100vw;
  height: 50px;
}

.kepala {
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.header-img-1 {
  display: flex;
  padding-left: 45px;
  width: 260px;
  height: 25px;
}

.header-img-2 {
  margin-right: 5px;
  width: 21px;
  height: 20.75px;
}

.header-a {
  margin-right: 45px;
  font-size: 12px;
}

.headnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  height: 30px;
  width: 100vw;
}

.nav-1 {
  padding-left: 65px;
  font-size: 12px;
  font-weight: 500;
}

.headnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.headnav a:hover {
  transition: all .4s ease-in-out;
  background-color: #ddd;
  color: black;
}

.main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.kotak-1 {
  background: gray;
  width: 20vw;
  height: 30vh;
}

.kotak-2 {
  background: brown;
  width: 20vw;
  height: 30vh;
}

.kotak-3 {
  background: burlywood;
  width: 20vw;
  height: 30vh;
}

footer {
  display: flex;
  color: white;
  background: #333;
  border-bottom:2px solid #ddd;
  width: 100vw;
  height: 10px;
}

.active {
  background: #ddd;
  color: black !important;
}
.active a {
  color: black !important;
}
